*
{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
.body{
    background-image: url(dragon.jpg);
    background-size: cover;
    background-attachment: fixed;
}
:root{
    --border-radius:10px;
    --color : #f0e6e6;
    --alto:1000px;
    --ancho:350px;
    --alto1:140px;
    --ancho1:140px;
    --color:#fff;
    --color1:antiquewhite;
}
.box{
    width: var(--alto);
    height: var(--ancho);
    margin: 16px auto;
    padding: 10px ;
   
}
.c1{
    width: 240px;
    height: 95%;
    margin: 0 auto;
    background: var(--color1);
    display: inline-block;
    padding: 5px;
    margin: 0px 10px 0px 10px;
    text-align: center;
    border-radius: 10px;
}
.section{
    display: block;
}
.img1{  
    height: 140px;
    width: 140px;
    filter: drop-shadow(10px 10px 10px #000);
    margin: 10px 0 0 0;
    text-align: center;

}
.h{
    text-align: justify;
    padding: 0 0 0 10px;
    
}
.p{
    display: block; 
    text-align: center;
    padding:  5px 5px 5px  5px;
}
.b1{
    display: block;
    color: #f0e6e6;
    background-color: rgb(221, 174, 136);
    width: 40px;
    height: 30px;
    border-radius: 5px;
    margin: 0px auto;

}
.c2{
    width: 240px;
    height: 95%;
    margin: 0 auto;
    background: antiquewhite;
    display: inline-block;
    padding: 5px;
    margin: 0px 10px 0px 10px;
    text-align: center;
    border-radius: 10px;
}
.section{
    display: block;

}
.img2{
    height: 140px;
    width: 140px;
    filter: drop-shadow(10px 10px 10px #000);
    margin: 10px 0 0 0;
    text-align: center;


}
.h2{
    text-align: justify;
    padding: 0 0 0 10px;
    
}
.p2{
    display: block; 
    text-align: center;
    padding:  5px 5px 5px  5px;
}
.b2{
    display: block;
    color: #f0e6e6;
    background-color: rgb(221, 174, 136);
    width: 40px;
    height: 30px;
    border-radius: 5px;
    margin: 0px auto;

}
.c3{
    width: 240px;
    height: 95%;
    margin: 0 auto;
    background: antiquewhite;
    display: inline-block;
    padding: 5px;
    margin: 0px 10px 0px 10px;
    text-align: center;
    border-radius: 10px;
}
.section{
    display: block;

}
.img3{
    height: 140px;
    width: 140px;
    filter: drop-shadow(10px 10px 10px #000);
    margin: 10px 0 0 0;
    text-align: center;


}
.h3{
    text-align: justify;
    padding: 0 0 0 10px;
    
}
.p3{
    display: block; 
    text-align: center;
    padding:  5px 5px 5px  5px;
}
.b3{
    display: block;
    color: #f0e6e6;
    background-color: rgb(221, 174, 136);
    width: 40px;
    height: 30px;
    border-radius: 5px;
    margin: 0px auto;

}